LoanBroker/Service References/LoanRequestService1/LoanRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StartLoanRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lånetid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartLoanRequestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartLoanRequestSoapIn">
    <wsdl:part name="parameters" element="tns:StartLoanRequest" />
  </wsdl:message>
  <wsdl:message name="StartLoanRequestSoapOut">
    <wsdl:part name="parameters" element="tns:StartLoanRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="LoanRequestServiceSoap">
    <wsdl:operation name="StartLoanRequest">
      <wsdl:input message="tns:StartLoanRequestSoapIn" />
      <wsdl:output message="tns:StartLoanRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanRequestServiceSoap" type="tns:LoanRequestServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartLoanRequest">
      <soap:operation soapAction="http://tempuri.org/StartLoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanRequestServiceSoap12" type="tns:LoanRequestServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartLoanRequest">
      <soap12:operation soapAction="http://tempuri.org/StartLoanRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanRequestService">
    <wsdl:port name="LoanRequestServiceSoap" binding="tns:LoanRequestServiceSoap">
      <soap:address location="http://localhost:9190/LoanRequestService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanRequestServiceSoap12" binding="tns:LoanRequestServiceSoap12">
      <soap12:address location="http://localhost:9190/LoanRequestService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>